/* This file is part of Flus Browser */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

@import "npm:@flus/design/src/stylesheets/application.css";

body {
    font-size: 100%;
}

.popup {
    width: 480px;
    max-width: 100%;
    height: 600px;
    min-height: 100vh;

    overflow: auto;
}

.sidebar {
    height: 100vh;
}

.screen {
    display: flex;
    height: 100%;

    flex-direction: column;
    justify-content: stretch;
}

.screen__header {
    height: 4.2rem;
}

.screen__header a {
    color: currentcolor;
}

.screen__logo {
    display: inline-block;
    padding: var(--space-smaller);
}

.screen__body {
    padding: var(--space-medium);

    flex: 1;

    background-color: var(--color-background);
}

.screen__body--menu {
    color: var(--color-pampas);
    background-color: var(--color-gable);
}

.notification {
    overflow: hidden;

    position: absolute;
    top: var(--space-medium);
    right: var(--space-small);
    left: var(--space-small);

    box-shadow: 1px 2px 3px 0 var(--color-box-shadow);
}

.flow > hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.list--separated > * + * {
    border-top: 1px solid var(--color-grey-line);
}

textarea {
    min-height: 6.5rem;
}
