/* This file is part of Flus Browser */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

@import "npm:@flus/design/src/stylesheets/application.css";

body {
    font-size: 100%;
}

.popup {
    width: 480px;
    height: 600px;

    overflow: auto;
}
