/* This file is part of Flus Browser */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

@import "npm:@flus/design/src/stylesheets/application.css";

body {
    font-size: 100%;
}

.popup {
    width: 480px;
    height: 600px;

    overflow: auto;
}

.screen {
    display: flex;
    height: 100%;

    flex-direction: column;
    justify-content: stretch;
}

.screen__header {
    height: 4.2rem;
}

.screen__logo {
    display: inline-block;
    padding: var(--space-smaller);
}

.screen__body {
    flex: 1;
}

.tag {
    margin-right: var(--space-smaller);
}

img {
    vertical-align: middle;
}
