/* This file is part of Flus Browser */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

@import "npm:@flus/design/src/stylesheets/application.css";

body {
    font-size: 100%;
}

.popup {
    width: 480px;
    max-width: 100%;
    height: 600px;
    min-height: 100vh;

    overflow: auto;
}

.sidebar {
    height: 100vh;
}

.screen {
    display: flex;
    height: 100%;

    flex-direction: column;
    justify-content: stretch;
}

.screen__header {
    height: 4.2rem;
}

.screen__logo {
    display: inline-block;
    padding: var(--space-smaller);
}

.screen__body {
    flex: 1;
}

.tag {
    display: inline-block;
    margin-right: var(--space-smaller);
    margin-bottom: var(--space-smaller);
}

button[aria-expanded="true"],
button[aria-expanded="true"]:hover {
    --button-color: var(--color-grey-base);
    --button-background-color: var(--color-grey-text-contrast);
    --button-border-color: transparent;
}

textarea {
    min-height: 7rem;
}
